@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");
:root {
  --black: black;
  --purple: purple;
  --dark-moderate-violet: #663399;
  --light-color: #666;
  --box-shadow: 2px 2px 12px grey;
  --border: 2rem solid rgba(0, 0, 0, 0.1);
}
* {
  font-family: "andika";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
body {
  background: #fff;
}
/*header*/

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border: 1px solid;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
.header .logo img {
  margin-top: 10px;
  height: 65px;
  width: 100%;
  display: inline-block;
}

.header .menubtn {
  margin-right: 60px;
}
header .menubtn button {
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
  border-radius: 10px;
}
/*header*/
.container .heading {
  padding-top: 8%;
  color: #5969c2;
  text-align: center;
  font-size: 2.5rem;
}
.container hr {
  display: block;
  margin-top: 0.5rem;
  margin-left: 30px;
  margin-right: 30px;
  border-style: inset;
  border-width: 3px;
}
.top .box-container {
  padding: 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
}

.top .box-container .box {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem;
  background: #fff;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.top .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
  width: 100%;
}
.top .box-container .box h1 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--dark-moderate-violet);
}
.top .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--light-color);
  padding: 1rem 0;
}
.btn {
  border: 1px solid var(--black);
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: linear-gradient(120deg, #fab2ff 40%, #663399);
  color: #fff;
}
.bottom .container .heading {
  padding-top: 0%;
  color: #5969c2;
  text-align: center;
  font-size: 2.5rem;
}
.bottom .box-container {
  padding: 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
}
.bottom .box-container .box {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem;
  background: #fff;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}
.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  width: 270px;
  margin: -35px 0px 0px -70px;
}
.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 20px 0px 0px 0px;
  background: #c8c2c2;
  height: 190px;
  width: 200px;
}
.bottom .box-container .box h1 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--dark-moderate-violet);
}
.bottom .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--light-colour);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 0px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Apply the same styling as other links in the nav */
.header .headbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-colour);
}

.header .headbar a:hover {
  color: #fff;
  background: linear-gradient(120deg, #1668e4 40%, #663399);
}
